*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	background-image: linear-gradient(#52b788, grey);
}
/*header fonts*/
h1,
h2,
h3,
h4,
h6 {
	font-family: 'Imbue', serif;
	text-align: center;
}

h5 {
	text-align: center;
	margin-bottom:30px !important;
}
p{
	text-align: center;
}
/*<!--header end-->*/

iframe {
    width: -webkit-fill-available;
}

/*landing jumbo*/
#landing-jumbo {
	height: 45vh;
	display: flex;
	align-items: center;
	color: #d8f3dc;
	background-color: #1b4332;
}

.btn {
	background-color: #d8f3dc;
}
.btn:hover {
	color: #d8f3dc;
	background-color: #1d3557;

}

.display-4,
.lead,
.btn,
.contactDev {
	display: flex;
	justify-content: center;
	/*color: #d8f3dc;*/
}
/*<!-- landing jumbo end -->*/
/*Shadow*/
.contactDev,
#shadow{
	text-shadow: 2px 2px 5px #d8f3dc;
}

/*<!-- 1st Row -->*/
#profile-picture {
	background-image: url(images/me1.jpg);
	background-size: cover;
	height: 65vh;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

.tech-stack {
	height: 100px;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#html {
	background-image: url("images/html5.png");
}

#css {
	background-image: url("images/css3.png")
}

#js {
	background-image: url("images/js.png");
}

#gitlab {
	background-image: url("images/gitlab.png");
}

#bootstrap {
	background-image: url("images/bootstrap.png");
}

#google {
	background-image: url("images/google2.png")
}

#react {
  background-image: url("images/react.png")
}

#nodejs {
  background-image: url("images/nodejs.png")
}

#mongodb {
  background-image: url("images/mongodb.png")
}
/*End 1st Row-->*/


/*Portfolio*//*Contact Developer*/
#portfolio,
#condev {
	background-color: #40916c;
}

/*#port,*/
.form-group {
	padding-top: 16px;
}



/*End*/


/*Footer-->*/

footer {
	display:flex;
	justify-content: center;
	margin-top: 20px;
	padding:5px;
	background-color: #081c15;
	color: #95d5b2;
}
